@tailwind base;
@tailwind components;

html {
  @apply text-sm;

  &.loading {
    @apply text-gray-300 bg-gray-600;
  }

  &.dark {
    background: #1e1e25;
    color: white;

    *::-webkit-scrollbar-track {
      @apply bg-gray-900;
    }

    *::-webkit-scrollbar-thumb {
      @apply bg-gray-700 border border-gray-900;
    }
  }
}


/* Disable touch blue rectangle */
[type="button"],
[type="submit"],
.button-like,
a {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-200 border border-gray-50;
  border-radius: 2px;
}

.active-colors {
  @apply bg-primary-100 text-primary-800 dark:bg-primary-900 dark:text-primary-300;

  .path {
    @apply opacity-100;
  }
}

@tailwind utilities;
