.slide-from-left,
.slide-from-right {
  &-enter-active,
  &-leave-active {
    transition: transform .3s var(--ease);
  }

  &-enter-active {
    --ease: var(--ease-in);
  }
  &-leave-active {
    --ease: var(--ease-out);
  }

  &-enter-from,
  &-leave-to {
    transform: var(--transform);
  }
}

.slide-from-left {
  &-enter-active,
  &-leave-active {
    --transform: translateX(-100%);
  }
}

.slide-from-right {
  &-enter-active,
  &-leave-active {
    --transform: translateX(100%);
  }
}

.progress-bar {
  &-leave-active {
    transition: width .5s var(--ease-out), opacity .15s .35s ease-out;
  }

  &-leave-to {
    width: 100% !important;
    opacity: 0;
  }
}

.toolbar {
  &-enter-active,
  &-leave-active {
    transition: height .15s;
    overflow-y: hidden;
  }

  &-enter-from,
  &-leave-to {
    height: 0;
  }
}

.scale-x {
  &-enter-active,
  &-leave-active {
    transition: transform .15s, opacity .15s;
  }

  &-enter-from,
  &-leave-to {
    transform: scaleX(0);
    opacity: 0;
  }
}
